
.clients-heading{
  width: 100%;
  height: auto;
  font-family: "Agency FB", sans-serif;
  font-size: 70px;
  font-weight: bold;
  /* border: 1px solid red; */
  margin-top: 30vh;
  text-align: center;
  color: #2E2867;
} 
.clients-heading span{
  color: #C86E29;
}
@keyframes popup {
  0% {
    transform: translate(50%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.clients-container:hover {
  animation-play-state: paused;
}

.clients-card {
  width: 200px;
  height: 100px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 8px;
}

.clients-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.client-name {
  /* margin-top: 10px; */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/* ************ */
.clients-main{
  width: 100%;
  height: auto;
  
}
#stripe{
  width: 100%;
   height: 200px;
 /* background-color: black; */
 overflow: hidden;
 
}
.cnt{
  width: fit-content;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  /* flex-shrink: ; */
}
.elem{
  /* background-color: yellow; */
  padding: 0 1vw;
  color: white;
  border: 1px solid white;
  flex-shrink: 0;
}
