*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.whyusContainer{
    width: 100vw;
    height: 100vh;
    background: url('/whyChooseUsbg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
    margin:5px 0;
    position: relative;
}
.whyusContainer img{
    position: absolute;
    top: 10vh;
    left: 37vw;
    transition: all 0.4s;
    
}
.whyusContainer:hover img{
    transform: translate(100px,40px) scale(1.1);
}
.whyusDescription{
    width: 450px;
    height: auto;
    position: absolute;
    top: 5vh;
   right: 8vw;
}
.whyusDescription h3{
    font-size: 72px;
    font-family: 'Agency FB';
    letter-spacing: 5px;
    color:  #2E2867;
    font-weight: bold;
}
